<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg bg-white shadow sticky-top">
    <div class="container">
        <a class="navbar-brand text-primary fw-bold" href="#">Personal Budget Planner</a>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav gap-3">
                <li class="nav-item">
                    <a class="nav-link active text-primary fw-medium" href="/dashboard/summary">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/dashboard/expenses">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/dashboard/income">Income</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/dashboard/income">Budgets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/dashboard/income">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>